
/*
.flex-container{
  display: flex;
  background-color: rgb(107, 192, 192);
}

.flex-container div{
  background-color: rgb(54, 201, 54);
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}
*/

.flex-container{
  display: flex;
  height: 200px;
  align-items: baseline;
  background-color: blue;

}

.flex-container >div{
  background-color: coral;
  color:white;
  width: 50px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}


